$darkBackground: #191b1f;
$darkSecondaryBackground: #212429;

$primary: #2172e5;
$primaryLight: #5090ea;
$primaryTransparent: rgba(21, 61, 111, 0.44);

$gray: #8f96ac;
$grayTransparent: rgb(143, 150, 172, 0.44);

$success: #27ae60;
$successTransparent: rgb(39, 174, 96, 0.44);

$error: #ff4343;
$errorTransparent: rgb(255, 67, 67, 0.44);
